html {
  font-size: $font-size;
  font-family: $font-family;
  color: $font-color;
  line-height: 1.4;
}

div {
  display: block;
  width: 100px;
  height: 100px;
  background-color: blue;
  p {
    font-size: $font-size;
    color: #fff;
  }
}
